.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "headers"
    "cover "
    "lots "
    "about "
    "footer";

  margin: 0;
  padding: 0;
  color: black;
  width: 1100px;
  height: 3028px;
  font-family: "Regular", "Raleway";
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.title {
  z-index: 1;
  margin: 0;
  font-weight: normal;
  font-size: 115px;
  text-align: center;
}

.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}

/* ---------header------*/
.headers {
  grid-area: headers;
  height: 293px;
    width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Regular", "Raleway";
  box-sizing: border-box;
}

/* -nav---logo--adress*/
.header_nav {
  grid-area: header_nav;
  grid-column: 1/7;
  grid-row: 2/3;
  color:black;

  display: inline;
  justify-self: start;
  font-size: 18px;
   font-family: "Regular", "Raleway";
   font-weight: normal;
  margin: 0 5px 15px 15px;
   padding: 0;
}

.nav li {
  float: left;
  margin-left: 31px;
  
}
ul.a {
  list-style-type: circle;
}


.nobull {
   list-style-type: none;
  }


.header_logo {
  grid-area: header_logo;
  grid-column: 6/8;
  grid-row: 2/3;
  
  height: 94.84px;
  width: 129.11px;
  display: flex;
  margin: 0 0 0 20px;
  padding: 0;
  
}

.header_adress {
  grid-area: header_adress;
  grid-column: 9/12;
  grid-row: 1/4;
  
  display: block;
  box-sizing: border-box;
  font-size: 18px;
   font-family: "Regular", "Raleway";
   font-weight: normal;
  margin: 0;
  padding: 0  0 0 60px;
}



/* ---cover--------------------------*/
.cover {
  height: 757px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  gap: 0;
  margin: 0 0 180px 0;
  padding: 0;
  /*box-sizing: border-box;--*/
  grid-area: cover;
  /*justify-self:center;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  justify-items: flex-start;
    width: 100%;
  box-sizing: border-box;
}

/* ----lotus---*/
.cover_image {
  grid-column: 1/14;
  grid-row: 1/8;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  gap: 0;
  height: 757px;
}
/* ----ОНО---*/
.cover_title_ono {
  grid-column: 2/3;
  grid-row: 5/6;
  color: #fff;
  z-index: 1;
  font-size: 100px;
  box-sizing: border-box;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing:30px; 
}
/*----ТЕБЕ---*/
.cover_title_tebe {
  grid-column: 3/6;
  grid-row: 7/8;
  color: #fff;
  z-index: 1;
  font-size: 100px;
  box-sizing: border-box;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing:30px; 
}

/* ----НАДО---*/
.cover_title_nado {
  grid-column: 8/11;
  grid-row: 9/10;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  box-sizing: border-box;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing:30px; 
}


/* ---Аукцион вещей в которые никто не верил---*/
.cover_subline {
  grid-column: 2/11;
  grid-row: 13/14;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 0 0 12px;
}

/* ---------button-----------------------*/
.cover_button {
  grid-column: 11/12;
  grid-row: 13/14;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  border: 2px solid white;
  width: 256px;
  height: 51px;
  box-sizing: border-box;
}

/* --lots-----------------------------------------*/

.lots {
  display: grid;
  grid-area: lots;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  padding: 0;
  margin: 0 0 120px 22px;
    width: 100%;
  background-color: white;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  box-sizing: border-box;
  height: 723px;
}
/* ----title--*/
.title_lots {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.endel_lots {
  display: flex;
  grid-column: 1/4;
  grid-row: 2/3;
  color: white;

  background-image: url(../images/card-lot-01.jpg);
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.calm_lots {
  display: flex;
  grid-column: 4/7;
  grid-row: 2/3;

  background-image: url(../images/card-lot-02.jpg);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);*/
}

.headspace_lots {
  display: flex;
  grid-column: 7/11;
  grid-row: 2/3;
  
  background-image: url(../images/card-lot-03.jpg);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* этот блок ближе других z-index: 1;*/
}
/* --more--*/
.more_lots {
  grid-column: 1/4;
  grid-row: 3/4;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

/**************************/

/* --------lots------------------------------------------------------------------*/
.card {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  color: #1e1e1e;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  height: 596px;
}

.card__image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__title {
  margin: 0 0 12px;
  font-weight: normal;
  font-size: 16px;
}

.card__text {
  margin: 0;
  font-size: 14px;
  z-index: 2;
}

/* ---------about---------*/
.about {
  display: grid;
  grid-area: about;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 35px 0 0 0 ;
  box-sizing: border-box;
  height: 595px;
  width: 100%;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  margin: 0 0 180px 0;
  background-color:green;
}


.title_about {
  display: inline;
  z-index: 1;
  color: black;
  width: 241px;
  height: 47px;
  margin:0;
  padding: 0;
  text-transform: uppercase;
  font-size: 40px;
  box-sizing: border-box;
  background-color:chartreuse;
}

.p{
  overflow-wrap: break-word;
}

p:first-letter {
  text-transform: uppercase;
}


.about_beetwen_title_p {
  margin: 100px 0 0 0px;
  background-color:chartreuse;
}

.about_between_p {
  margin: 24px 0 0 0px;
  background-color:chartreuse;
}

.article_about {

  box-sizing: border-box;
  background-color:rosybrown;
}

/*------logo--*/
.logo-column_about {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  width: 148px;
  height: 114px;
  padding:0;
  margin: 0;
  box-sizing: border-box;
  background-color:coral;
}


.logo_circle_about {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  margin: 0  72px 103px 0;
  padding: 0;
  box-sizing: border-box;
  background-color:coral;
}
/*----column--*/
.about-column_about {
  display:flex;
  grid-column: 3/13;
  grid-row: 1/3;
  z-index: 1;
  color: black;
  font: 20px normal;
  font-family: "Regular", "Raleway";
  padding:98px 0 0 0; 
  margin: 0;
  width: 693px;
  height: 449px;
  box-sizing: border-box;
  background-color:coral;
}



/* -footer------*/
.footer {
  grid-area: footer;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 50px auto 50px;
  padding:0;
  gap:0;
  box-sizing: border-box;
  background-color:aquamarine;

  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal; */
  /*justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
}

/* -nav---logo--adress*/
.footer_contacts {
  grid-column: 1/2;
  grid-row: 1/2;
  color: black;
  display:block;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;

  background-color: aqua;
}

.footer_nav {
  display: block;
  grid-column: 2/7;
  grid-row: 1/2;
  color: black;
  margin:0 0 49px 170px;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  background-color: aqua;
}
   


.parindent {
  margin:0 0 0 30px;
}

.footer_socials {
  display:flex;
  grid-column: 9/13;
  grid-row: 1/2;
  color: black;
  justify-content: space-between;
  margin: 0 5px 55px 15px;
  padding:0;
  width: 240px;
  height: 48px;
  box-sizing: border-box;
  background-color: aqua;
  
}

.footer_logo_socials {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-color: aqua;
  align-items:first baseline;
}
