html {
  block-size: 100%;
}
.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-columns: auto;
  grid-template-areas:
    "headers"
    "cover "
    "lots "
    "about "
    "footer";

  padding: 0;
  color: black;
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
}
/* ---------header------*/
.headers {
  grid-area: headers;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: repeat(1, 1fr);
  padding: 92px 50px 96px 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.header_nav {
  grid-area: header_nav;
  grid-column: 1;
  grid-row: 1;
  color: black;
  display: flex;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  justify-content: flex-start;
  text-transform: lowercase;
  padding: 0;
  margin: 0;
}

.header-list li {
  margin: 0;
  margin-left: 30px;
}

ul.a {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  display: flex;
}

.nobull {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.header_logo {
  grid-area: header_logo;
  grid-column: 2;
  grid-row: 1;
  max-height: 105px;
  width: 148px;
  display: flex;
  margin: 0 0 0 30px;
  padding: 0;
  align-items: center;
}

.address-block {
  box-sizing: border-box;
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  display: block;
  color: black;
}

.address-block__header {
  grid-column: 3;
  grid-row: 1;
  margin: 0 0 0 186px;
  justify-content: flex-end;
  align-items: start;
  flex-direction: column;
  line-height: 1.2;
}

.address-block_footer {
  grid-column: 1/2;
  grid-row: 1;
  margin: 0;
  justify-self: start;
  align-self: start;
  align-items: flex-start;
}

/* ---cover--*/
.cover {
  min-height: 757px;
  display: block;
  margin: 0 0 180px 0;
  padding: 165px 50px 50px 50px;
  grid-area: cover;
  z-index: 0;
  width: 100%;
  box-sizing: border-box;
}

/* ----lotus---*/
.cover_image {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 29%;
  position: relative;
}

.title_cover {
  color: #fff;
  font-size: 100px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 30px;
  display: block;
  margin: 0 0 106px 0;
  padding: 0;
  z-index: 3;
  position: relative;
}

/* ----ОНО---*/
.aligned-text_left {
  /*grid-column: 1/2;
  grid-row: 1/2;*/
  padding: 0 0 17px 0;
  font-size: 100px;
  display: block;
  margin: 0;
}
/* ----ТЕБЕ---*/
.aligned-text_center {
  /*grid-column: 4/9;
  grid-row: 2/3;*/
  padding: 0 0 15px 0;
  margin: 0;
  display: block;
  text-align: center;
  margin-right: -30px;
}

/* ----НАДО---*/
.aligned-text_right {
  /*grid-column: 9/13;
  grid-row: 3/4;*/
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: -30px;
}

.container {
  display: flex; /* Используем flexbox для выравнивания */
  align-items: center; /* Выравниваем по центру */
}

/* ---Аукцион вещей в которые никто не верил---*/
.cover_subline {
  /*grid-column: 1/11;
  grid-row: 13/14;*/
  z-index: 3;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: 0;
  padding: 0 106px 0 0;
  word-spacing: 18.6px;
  display: flex;
  transform: scale(1, 1);
}
/* ---------button----*/

.transparent-button {
  width: 256px; /* Ширина кнопки */
  min-height: 51px; /* Высота кнопки */
  border: 1px solid white; /* Белая граница толщиной 1 пиксель */
  background: transparent; /* Прозрачный фон */
  /* border-radius: 5px; /* Скругленные углы (можно убрать, если не нужно) */
  cursor: pointer; /* Изменение курсора при наведении */
  padding: 0; /* Убираем отступы */
  outline: none; /* Убираем выделение при клике */
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 3;
}

/* --lots--*/
.lots-cards {
  padding: 0;
  margin: 0 auto 120px auto;
  max-width: 1052px;
  box-sizing: border-box;
}
/* ----title--*/
.title_lots {
  display: flex;
  grid-column: 1/4;
  grid-row: 1;
  margin: 0 0 27px 0;
  padding: 0 0 0 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.endel_lots {
  background-image: url(../images/card-lot-01.jpg);
}

.calm_lots {
  background-image: url(../images/card-lot-02.jpg);
}

.headspace_lots {
  background-image: url(../images/card-lot-03.jpg);
}
/* --overlay--*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  pointer-events: none;
}
/* --more--*/
.more_lots {
  grid-column: 1/4;
  grid-row: 3;
  box-sizing: border-box;
  display: block;
  margin: 0 0 0 40px;
  padding: 0;
  font-size: 20px;
  color: black;
  font-weight: normal;
  justify-content: start;
  text-decoration-line: underline;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Перенос на новую строку */
  flex-direction: row;
  gap: 25px;
  padding: 0;
  margin: 0 auto 30px auto;
  max-width: 1052px;
  box-sizing: border-box;
  list-style: none;
}

/* -lots----*/
.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  padding: 48px 40px 48px 40px;
  margin: 0;
  color: #1e1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 334px;
  min-height: 596px;
  justify-content: space-between;
  position: relative;
  background-position: center;
}

.card__image {
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.card__title {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  z-index: 3;
  text-decoration: underline;
}

.card__text {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  z-index: 3;
  color: #fff;
  align-items: end;
  line-height: 1.2;
}
/* ---------about---------*/
.about {
  display: grid;
  grid-area: about;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 35px 0 0 0;
  box-sizing: border-box;
  margin: 0 0 180px 0;
  width: 100%;
}

.title_about {
  display: inline;
  z-index: 1;
  color: black;
  width: 241px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 40px;
  box-sizing: border-box;
}

.p {
  overflow-wrap: break-word;
}

/*.about_beetwen_title_p {
  margin: 100px 0 0 0px;
}*/
article .title_about + p {
  margin-top: 100px;
}

/*.about_between_p {
  margin: 24px 0 0 0px;
}*/

.article_about p + p {
  margin-top: 24px;
}

.article_about {
  display: inline-block;
}
/* ------logo--*/
.logo-column_about {
  display: block;
  grid-column: 2/3;
  grid-row: 1;
  z-index: 1;
  width: 148px;
  min-height: 114px;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.logo_circle_about {
  display: flex;
  grid-column: 2/3;
  grid-row: 1;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
/* ----column--*/
.about-column_about {
  display: flex;
  grid-column: 3/13;
  grid-row: 1/2;
  z-index: 1;
  color: black;
  font: 20px normal;
  font-family: "Raleway", sans-serif;
  padding: 100px 24px 0px 64px;
  margin: 0;
  box-sizing: border-box;
}
/* -footer------*/
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 50px 0 50px;
  padding: 2px 0 0 2px;
  gap: 0;
  box-sizing: border-box;
}

/* -nav---logo--adress*/

.footer_nav {
  display: block;
  grid-column: 2/7;
  grid-row: 1;
  color: black;
  margin: 0 0 49px 170px;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  align-items: flex-start;
}

.parindent {
  margin: 0 0 0 30px;
}

.footer_socials {
  display: flex;
  grid-column: 9/13;
  grid-row: 1;
  color: black;
  justify-content: space-between;
  margin: 0 0 131px 0;
  padding: 0;
  width: 240px;
  box-sizing: border-box;
  justify-self: end;
  align-self: start;
  align-items: flex-start;
}

.footer_logo_socials {
  width: 48px;
  min-height: 48px;
  border-radius: 50%;
  align-items: flex-start;
}
