.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "headers"
    "cover "
    "lots "
    "about "
    "footers";
  gap:0;
  
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
  width: 1100px;
  height: 3028px;
  border: red;
  border-style: dotted;
  font-family: 'Regular', 'Raleway';
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: uppercase;
}

.title {
  z-index: 1;
  margin: 0;
  font-weight: normal;
  font-size: 115px;
  text-align: center;
}

.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
}

/* ---------header------*/
.headers {
  grid-area: headers;
  height: 293px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family:Raleway;
  box-sizing: border-box;
}

/* -nav---logo--adress*/
.header_nav {
  grid-area: header_nav;
  grid-column: 1/7;
  grid-row: 2/3;
  color: white;
  background-color: blueviolet;
  display: inline;
  justify-self:start;
  
}

.header_logo {
   grid-area: header_logo;
  grid-column: 7/8;
  grid-row: 2/3;
  background-color: pink;
  height: 94.84px;
  width: 129.11px;
  display:flex;
}

.header_adress {
   grid-area: header_adress;
  grid-column: 10/13;
  grid-row: 1/4;
  background-color: #6dc1fd;
  display: block;
  box-sizing: border-box;

}

.nav li {
  display: inline-block;
}

/* ---cover--------------------------*/
.cover {
  height: 757px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  gap: 0;
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;--*/
  grid-area: cover;
  /*justify-self:center;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  justify-items:flex-start;
  margin-bottom: 180px;
  box-sizing: border-box;
}

/* ----lotus---*/
.cover_image {
  grid-column: 1/14;
  grid-row: 1/8;
  background-color: pink;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  box-sizing: border-box;
  gap:0;
  height: 757px;
}
/* ----ОНО---*/
.cover_title_ono {
  grid-column: 2/3;
  grid-row: 4/6;
  color: #fff;
  z-index: 1;
  font-size: 100px;
  box-sizing: border-box;
}
/*----ТЕБЕ---*/
.cover_title_tebe {
  grid-column: 5/7;
  grid-row: 6/9;
  color: #fff;
  z-index: 1;
  font-size: 100px;
  box-sizing: border-box;
}
/* ----НАДО---*/
.cover_title_nado {
  grid-column: 9/13;
  grid-row: 8/12;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  box-sizing: border-box;
}

/* ---Аукцион вещей в которые никто не верил---*/
.cover_subline {
  grid-column: 1/11;
  grid-row: 13/14;
  z-index: 1;
  color: #fff;
  font-size: 28px;
  box-sizing: border-box;
  font-family: Raleway;
}

/* ---------button-----------------------*/
.cover_button {
  grid-column: 11/12;
  grid-row: 13/14;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  border: 2px solid white;
  width: 256px;
  height: 51px;
  box-sizing: border-box;
  font-family:  Raleway;
  
   
  
}

/* --lots-----------------------------------------*/

.lots {
  grid-area: lots;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:25px;
  margin-top:  0;
  padding: 0;
  border: 1px solid blue;
  background-color: white;
  
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  box-sizing: border-box;
  height:723px;
 margin-bottom: 120px;
 margin: 20px  20px ;


}
/* ----title--*/
.title_lots {
  display:grid;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #6dc1fd;
  align-items: start;
  justify-self:flex;
  font-size:; 
  margin:0;
  padding:0;
  box-sizing: border-box;
   
 
  
}

.endel_lots {
  grid-column: 1/5;
  grid-row: 2/3;
  color: white;
  background-color: green;
  background-image: url(../images/card-lot-01.jpg);
  box-sizing: border-box;
}
.calm_lots {
  grid-column: 5/9;
  grid-row: 2/3;
  background-color: pink;
  background-image: url(../images/card-lot-02.jpg);
  box-sizing: border-box;
  /*background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);*/
}

.headspace_lots {
  grid-column: 9/13;
  grid-row: 2/3;
  background-color: #6dc1fd;
  background-image: url(../images/card-lot-03.jpg);
  box-sizing: border-box;
  /* этот блок ближе других z-index: 1;*/
}
/* --more--*/
.more_lots {
  grid-column: 1/4;
  grid-row: 3/4;
  box-sizing: border-box;
}

/**************************/

/* --------lots------------------------------------------------------------------*/
.card {
  display: grid;
  align-items: flex-start;
  gap:0;
  box-sizing: border-box;
  margin-bottom:0;
  padding: 0;
  color: #1e1e1e;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  height: 596px;
  
}

.card__image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__title {
  margin: 0 0 12px;
  font-weight: normal;
  font-size: 16px;
}

.card__text {
  margin: 0;
  font-size: 14px;
  z-index: 2;
}

/* ---------about---------*/
.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 595px;
  justify-self: center;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  align-self: normal;
  justify-items: flex-start; /*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  grid-area: about;
  border: 2px solid red;
 
}

.logo-column_about {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 1;
  color: aqua;
  font-size: 28px;
  border: 2px solid red;
  border-radius: 10px;
   width: 148px;
  height: 114px;
}

.logo_circle_about {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: blue;
}

.about-column_about {
  grid-column: 3/13;
  grid-row: 3/7;
  z-index: 1;
  color: black;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 2px solid red;
  margin: 0;
  padding: 0;
  gap: 5px;
}

/* -footer------*/
.footer {
  grid-area: footers;
  height: 178px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: dotted;
  justify-self: flex-start;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  /*align-self:normal; */
  /*justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
  /*align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  position: sticky;
}

/* -nav---logo--adress*/
.footer_nav {
  grid-column: 6/9;
  grid-row: 2/3;
  color: black;
  background-color: blueviolet;
  display: block;
  justify-self: center;
}
.footer_contacts {
  grid-column: 1/6;
  grid-row: 2/3;
  color: black;
  background-color: black;
  display: block;
}
.footer_socials {
  grid-column: 9/12;
  grid-row: 2/3;
  color: black;
  background-color: red;
}

.footer_logo_socials {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: blue;
}
