.root {
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-template-rows: (5, 1fr) ;
  grid-template-areas:
    "header"
    "cover"
    "section "
    "about "
    'footer ';
  gap: 5px;
  box-sizing: flex/*border-box*/;
  height: 100vh;
  margin: 0;
  padding: 0 px;
  color:black;
  font-family: Inter, sans-serif;
  background-color:#fff
  width:1100px;
}

.title {
  z-index: 1;
  margin: 0;
  font-weight: normal;
  font-size: 115px;
  text-align: center;
}
/*-----------------header------*/
.header {
  grid-area: header;
  height: 293px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  min-height: calc(100vh - 100px);
  margin:0;
  padding:0;
   box-sizing: border-box;
 
}
/*-nav---logo--adress*/
.grid1 {
  grid-column:1/3;
  grid-row: 2;
  color: white;
  background-color: blueviolet;

}

.grid2 {
  grid-column: 5/6;
  grid-row: 2/3;
  background-color: pink;
}

.grid3 {
 grid-column: 7/10;
  grid-row: 2/3;
  background-color: #6dc1fd;
  
}


/*--lots--------*/

.section {
  display: grid;
  grid-template-columns: (9,1fr);
  grid-template-rows: (8, 1fr);
  gap: 5px;
  min-height: calc(100vh - 100px);
  border: 1px solid black;
  background-color: white;
  justify-self:center;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
 align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
 align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
 box-sizing: border-box;
 height: 723px;
 grid-area:section;
}
/*----title--*/ 
.grid10 {
  display:grid;
  grid-column: 1/9;
  grid-row: 1/2;
  background-color: #6dc1fd;
  align-items: flex-start;
  
}

.endel {
  grid-column: 1/3;
  grid-row: 2/9;
  color: white;
  background-color:green;
  background-image: url(../images/card-lot-01.jpg);
}
.calm {
 grid-column: 4/6;
  grid-row: 2/9;
  background-color: pink;
  background-image: url(../images/card-lot-02.jpg);
  /*background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);*/
}

.headspace {
grid-column: 7/10;
  grid-row: 2/9;
  background-color: #6dc1fd;
  background-image: url(../images/card-lot-03.jpg)
   /* этот блок ближе других z-index: 1;*/
}
/*--more--*/
.more{

}


/*---cover--*/
.cover {
  height: 293px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  min-height: calc(100vh - 100px);
  margin:0;
  padding:0;
  /*box-sizing: border-box;--*/
  grid-area:cover;
}

/*----lotus---*/
.grid4{
 grid-column: 1/10;
  grid-row: 1/6;
  background-color: pink;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 5px;
  height: 757px;
}
/*----ОНО---*/
.grid5{
  grid-column: 1/2;
  grid-row: 2/3;
  color:#fff;
   z-index: 1;
   font-size:100px;
}
/*----ТЕБЕ---*/
.grid6{
  grid-column: 2/5;
  grid-row: 3/4;
  color:#fff;
   z-index: 1;
   font-size:100px;
}
/*----НАДО---*/
.grid7{
  grid-column: 5/7;
  grid-row: 4/5;
  z-index: 1;
  color:#fff;
   font-size:100px;
}

/*---------Аукцион вещей в которые никто не верил---------------------------------*/
.grid8{
  grid-column: 1/5;
  grid-row: 5/6;
  z-index: 1;
  color:#fff;
  font-size:28px;
}

/*---------button-----------------------*/
.grid9{
  grid-column: 6/9;
  grid-row: 5/6;
  z-index: 1;
  color:#fff;
  font-size:22;
  border: 2px  solid white;
  border-radius: 10px;
}

/**************************/

.main .title {
  margin-bottom: 30px;
}
/*--------lots------------------------------------------------------------------*/
.card {
  display: grid;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  
  padding: 0;
  color: #1e1e1e;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__image {
  width: 100%;
  hight:100%;
   z-index: 1;
}

.card__title {
  margin: 0 0 12px;
  font-weight: normal;
  font-size: 16px;
}

.card__text {
  margin: 0;
  font-size: 14px;
  z-index: 2;
}

/*---------about---------*/
.about{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap:;
  min-height: calc(100vh - 100px);
  margin:0;
  padding:0;
   box-sizing: border-box;
   
   height: 595px;
   justify-self:center;
  /*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
 align-self:normal;
 justify-items:flex-start;/*Элементы внутри каждой области растягиваются на весь её размер по вертикали.*/
 align-items:auto;/*Элементы внутри каждой области растягиваются на весь её размер по горизонтали.*/
  grid-area:about;
 border: 2px  solid red;
  border-radius: 10px;
}
.logo-column{
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 1;
  color:aqua;
  font-size:28px;
  border: 2px  solid red;
  border-radius: 10px;
  color:burlywood;

}
.about-column {
grid-column: 3/10;
  grid-row: 3/7;
  z-index: 1;
  color:aqua;
  font-size:20px;
  font-family: Inter, sans-serif;
  border: 2px  solid red;
  border-radius: 10px;
}


/*-------------------------*/
.widget::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.4);
}

.widget_position_top {
  
  grid-area:widget_position_top;

}

.about {
 
}

.footer {
    grid-area: footer;
  justify-content: center;
  /*align-items: center;*/
   align-self:flex-end;/*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/
  margin-top: auto;
 display: flex;
  flex-direction: column; 
 min-height: 100vh;
}




.navigation{
   /*grid-area: navigation;*/
  width: 100%;
 justify-self:flex-start; управляет выравниванием по направлению колонок,
  margin:10px;
  padding: 5px;px;
  align-items:start;
  
   
}
.logo{
   grid-area: logo;
   
}


.ulw{

  display:grid;
   grid-template-columns:  repeat(3, 1fr) ;
  grid-template-rows: (1,1fr);
  grid-template-areas:
  "li li li";
  gap: 2em;
  box-sizing: flex;
  height: 100vh;
  margin: 0;
  padding: 20px;
  color:black;
  font-family: Inter, sans-serif;
align-self:start;/*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/

}
.luh{
  grid-area: luh;
   display:grid;
   grid-template-columns:  repeat(3, 1fr) ;
  grid-template-rows: (3,1fr);
  grid-template-areas:
  "li"
  "li"
  "li";
  gap: 2em;
  box-sizing: flex;
  height: 100vh;
  margin: 0;
  padding: 20px;
  color:black;
  font-family: Inter, sans-serif;
align-self:start;/*Свойство justify-self управляет выравниванием по направлению колонок, а align-self — по направлению строк*/

}
.li{
  grid-area: li;
  display:flex;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: uppercase;
}





.grid__quote1 {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 1/2;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  font-family: Comforter, fantasy;
  font-size: 80px;
  background-color: #fff;
}


.grid__quote3 {
  display: flex;
  justify-content: center;
  grid-column: 2/12;
  grid-row: 3/11;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  font-family: Comforter, fantasy;
  font-size: 80px;
  background-color: #fff;
}


/*------main-------------------------------


/*-------COVER---------------------------------------

  
   



